.app {
  display: flex;
  height: 100vh;
}

/* Sidebar */
.sidebar {
  width: 200px;
  background: #d3d3d3;
  color: black;
  display: flex;
  flex-direction: column;
  padding: 20px;
  gap: 15px;
}

/* Links */
.sidebar a {
  color: black;
  text-decoration: none;
  padding: 10px;
  border-radius: 8px;
}

/* Hover effect */
.sidebar a:hover {
  background: #999;
}

/* Main content */
.main-content {
  flex: 1;
  padding: 20px;
  background: #f4f4f4;
}

/* Toggle button */
.toggle-button {
  background: white;
  color: black;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-size: large;
}

/* Dark mode styles */
.dark-mode .sidebar {
  background: #333;
  color: white;
} 

.dark-mode .sidebar a {
  color: #ddd;
}
.dark-mode .sidebar a:hover {
  background: #222;
}
.dark-mode .main-content {
  background: #555;
  color: white;
}
.dark-mode .toggle-button {
  background: #555;
  color: white;
}

