.app {
  display: flex;
  height: 100vh;
  background: rgb(68, 68, 68);
}

/* Sidebar */
.sidebar {
  width: 240px;
  background: lightgray;
  color: black;
  display: flex;
  flex-direction: column;
  padding: 20px;
  gap: 15px;
  border-radius: 20px;
  margin: 5px;
}

/* Links */
.sidebar a {
  color: black;
  text-decoration: none;
  padding: 10px;
  border-radius: 10px;
}

/* Hover effect */
.sidebar a:hover {
  background: #e0e0e0;
}

/* Main content */
.main-content {
  flex: 1;
  padding: 20px;
  background: lightgray;
  border-radius: 20px;
  margin: 5px;
}

/* Toggle button */
.toggle-button {
  background: white;
  color: black;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  font-size: large;
}

/* Dark mode styles */
.dark-mode .sidebar {
  background: #333;
  color: white;
} 

.dark-mode .sidebar a {
  color: #ddd;
}
.dark-mode .sidebar a:hover {
  background: #222;
}
.dark-mode .main-content {
  background: #333;
  color: white;
}
.dark-mode .toggle-button {
  background: #555;
  color: white;
}
